@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}
header{
background-color:hsla(274, 61%, 12%, 0)  ;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;

}
.logo{
    text-decoration: none;
    color: rgb(5, 0, 8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;

}
.navigation a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 300;
    padding-left:25px ;



}
.navigation a:hover{
    color:violet;
}
section{
    padding: 100px 200px;

}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/MacBook\ Air\ -\ 1.png)no-repeat;
    background: size 90px;;
    background-position: center;
    background-attachment: fixed;
}
.main h4{
    color: rgba(240, 248, 255, 0.866);
    font-size: 1.1em;
    font-weight: 300;

}
.main span{
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-weight: 600;
}
.main-btn{
    color:rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;


}
.main-btn:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);

}
.social-icons a{
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(249, 248, 248);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
